@use "../abstracts/" as *;

.hero {
  color: var(--clr-light-1);
  margin-bottom: rem(200);
  background-color: var(--clr-dark-2);
  background-image: url("../../assets/images/home/desktop/image-hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &__textBox {
    max-width: rem(400);
    margin-left: rem(165);
    margin-top: rem(165);
    margin-bottom: rem(158);
    display: inline-block;
  }
  .text--overline {
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: rem(24);
  }
  .heading--1 {
    margin-bottom: rem(24);
  }
  .body {
    margin-bottom: rem(40);
    mix-blend-mode: normal;
    opacity: 0.75;
    max-width: rem(350);
  }

  @include respond(tab-port) {
    background-image: url("../../assets/images/home/tablet/image-header.jpg");

    background-size: cover;
    margin-bottom: rem(148, $fs-s);
    text-align: center;
    &__textBox {
      margin: 0 auto;
      margin-top: rem(125, $fs-s);
      margin-bottom: rem(167, $fs-s);
    }
    .body {
      margin: 0 auto;
      margin-bottom: rem(40, $fs-s);
      mix-blend-mode: normal;
      opacity: 0.75;
      max-width: rem(350, $fs-s);
    }
  }
  @include respond(phone) {
    background-image: url("../../assets/images/home/mobile/image-header.jpg");

    &__textBox {
      margin-top: rem(110, $fs-s);
      margin-bottom: rem(112, $fs-s);
    }
  }
}
