@use "../abstracts/" as *;
.productReview {
  gap: rem(125);
  margin-bottom: rem(160);
  &__imageContainer {
    width: 100%;
  }
  &__image {
    width: 100%;
    height: auto;
    border-radius: rem(8);
    object-fit: cover;
    object-position: center;
  }
  &__textBox {
    max-width: rem(445);

    justify-self: end;
    .text--overline {
      color: var(--clr-primary);
      margin-bottom: rem(16);
    }
    .heading--2 {
      margin-bottom: rem(32);
    }
    .body {
      margin-bottom: rem(40);
      opacity: 0.5;
    }
  }
  &--left {
    flex-direction: row-reverse;
  }
  &--right {
    flex-direction: row;
  }
  @include respond(tab-port) {
    flex-direction: column;
    gap: rem(52, $fs-s);
    &__imageContainer {
      max-width: 100%;
    }
    &__image {
      max-width: 100%;
      // height: rem(350);
      border-radius: rem(8);
      object-fit: cover;
    }
    &__textBox {
      max-width: 100%;
      padding-left: rem(60, $fs-s);
      padding-right: rem(60, $fs-s);
      text-align: center;
      .body {
        margin-bottom: rem(20, $fs-s);
      }
    }
    margin-bottom: rem(120, $fs-s);
  }
}
