@use "../abstracts/" as *;
.productReview {
  display: flex;
  align-items: center;
  margin-bottom: rem(160);
  justify-content: space-between;
  gap: rem(125);
  &__imageContainer {
    max-width: rem(540);
  }
  &__image {
    max-width: 100%;
    height: auto;
    border-radius: rem(8);
    object-fit: cover;
  }
  &__textBox {
    max-width: rem(445);

    justify-self: end;
    .text--overline {
      color: var(--clr-primary);
      margin-bottom: rem(16);
    }
    .heading--2 {
      margin-bottom: rem(32);
    }
    .body {
      margin-bottom: rem(40);
      opacity: 0.5;
    }
  }
}
