@use "../abstracts/" as *;
.categories {
  padding-left: rem(165);
  padding-right: rem(165);
  display: block;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  margin-bottom: rem(168);
}
