@use "../abstracts/" as *;
.earphones {
  display: flex;
  gap: rem(30);
  margin-bottom: rem(200);
  &__image {
    width: 50%;
    border-radius: rem(8);
  }
  &__seeMore {
    padding: rem(101) rem(95);
    background-color: var(--clr-light-3);
    border-radius: rem(8);

    width: 50%;
    .heading--4 {
      margin-bottom: rem(32);
    }
  }

  @include respond(tab-port) {
    margin-bottom: rem(96, $fs-s);
  }
  @include respond(phone) {
    margin-bottom: rem(24, $fs-s);
    gap: rem(11, $fs-s);
    flex-direction: column;
    margin-bottom: rem(96, $fs-s);
    &__image {
      width: 100%;
    }
    &__seeMore {
      width: 100%;
      padding: rem(41, $fs-s) rem(24, $fs-s);
    }
  }
}
