@use "../abstracts/" as *;
.feature {
  margin: 0 rem(165);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(200);

  gap: rem(125);
  &__textBox {
    max-width: rem(445);

    .heading--2 {
      margin-bottom: rem(32);
      span {
        color: var(--clr-primary);
      }
    }
    .body {
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: rem(8);
    object-fit: cover;
  }
  &__imageContainer {
    width: 100%;
  }
  @include respond(tab-land) {
    margin: 0 rem(64, $fs-m);
    margin-bottom: rem(200);
  }
  @include respond(tab-port) {
    margin: 0 rem(40);
    flex-direction: column-reverse;
    justify-content: start;
    gap: rem(64, $fs-s);
    &__textBox {
      max-width: 100%;
      padding-left: rem(64, $fs-s);
      padding-right: rem(64, $fs-s);
      text-align: center;
      margin-bottom: rem(96, $fs-s);
    }
    &__imageContainer {
      width: 100%;
      height: auto;
    }
    &__image {
      width: 100%;
      height: auto;
    }
  }
  @include respond(phone) {
    gap: rem(40, $fs-s);
    &__textBox {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      margin-bottom: rem(120, $fs-s);
    }
  }
}
