@use "../abstracts/" as *;
.footer {
  background-color: var(--clr-dark-2);
  padding: rem(71) rem(165);
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(36);
  }
  &__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(56);
  }
  &__socialIcons {
    display: flex;
    gap: rem(16);
    align-self: end;
    svg {
      width: rem(24);
      height: rem(24);
      color: var(--clr-light-1);
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: var(--clr-primary);
      }
    }
  }
  .body {
    color: var(--clr-light-1);
    opacity: 0.5;
    color: var(--clr-light-1);
    max-width: rem(540);
  }
}
