@use "../abstracts/" as *;
.secondSampleProduct {
  background-image: url(../../assets/images/home/desktop/image-speaker-zx7.jpg);
  margin-left: rem(165);
  margin-right: rem(165);
  border-radius: rem(8);
  padding: rem(101) rem(95);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .heading--4 {
    margin-bottom: rem(32);
  }
  margin-bottom: rem(48);
}
