@use "../abstracts/" as *;
.secondSampleProduct {
  background-image: url("../../assets/images/home/desktop/image-speaker-zx7.jpg");

  border-radius: rem(8);
  padding: rem(101) rem(95);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .heading--4 {
    margin-bottom: rem(32);
  }
  margin-bottom: rem(48);
  @include respond(tab-port) {
    margin-bottom: rem(32, $fs-s);
  }
  @include respond(phone) {
    padding: rem(41, $fs-s) rem(24, $fs-s);
    margin-bottom: rem(24, $fs-s);
  }
}
