@use "../abstracts/" as *;
.youMayLike {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: rem(160);
  gap: rem(30);
  &__image {
    width: 100%;
    height: auto;
    margin-bottom: rem(40);
    border-radius: rem(8);
  }

  .heading--5 {
    margin-bottom: rem(32);
  }
  @include respond(phone) {
    flex-direction: column;
    gap: rem(56, $fs-s);
    margin-bottom: rem(172, $fs-s);
  }
}
