@use "../abstracts/" as *;
.category {
  &__title {
    background-color: var(--clr-dark-3);
    color: var(--clr-light-1);
    padding: rem(98);
    text-align: center;
    margin-bottom: rem(160);
  }

  [class~="productReview"]:last-of-type {
    margin-bottom: rem(240);
  }
  @include respond(tab-port) {
    [class~="productReview"]:last-of-type {
      margin-bottom: rem(170, $fs-s);
    }
    &__title {
      margin-bottom: rem(120, $fs-s);
    }
  }
  @include respond(phone) {
    &__title {
      padding: rem(32, $fs-s);
      margin-bottom: rem(64, $fs-s);
    }
  }
}
