@use "../abstracts/" as *;
.checkout {
  background-color: var(--clr-light-3);
  &__content {
    display: flex;
    gap: rem(30);
  }
  &__form {
    background-color: var(--clr-light-1);
    padding: rem(54) rem(48);
    flex: 1;
    border-radius: rem(8);
    .heading--3 {
      margin-bottom: rem(41);
    }
    margin-bottom: rem(141);
  }
  .text--subtitle {
    margin-bottom: rem(16);
    color: var(--clr-primary);
  }
  &__billing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(16);
    row-gap: rem(24);
    & > * {
      width: 100%;
    }
    margin-bottom: rem(53);
  }
  &__shipping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(16);
    row-gap: rem(24);
    & > * {
      width: 100%;
    }
    :first-child {
      grid-column: 1/-1;
    }
    margin-bottom: rem(61);
    :first-child {
      grid-row: 1/3;
    }
  }
  &__payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(16);
    row-gap: rem(16);
    grid-template-rows: repeat(3, auto);
    :first-child {
      grid-row: 1/3;
      font-weight: 700;
      font-size: rem(12);
      line-height: rem(16);
      letter-spacing: rem(-0.214286);
    }
    :nth-child(4),
    :nth-child(5) {
      margin-top: rem(8);
    }
  }
  .summary {
    flex: 1;
    max-width: rem(350);
  }
  @include respond(tab-port) {
    background-color: var(--clr-light-1);
    &__content {
      flex-direction: column;
      gap: rem(0);
    }
    .summary {
      flex: 1;
      max-width: 100%;
      margin-bottom: rem(116, $fs-s);
    }
    &__form {
      margin-bottom: rem(32, $fs-s);
      padding: rem(30, $fs-s) rem(36, $fs-s);
    }
  }
  @include respond(phone) {
    &__billing,
    &__shipping,
    &__payment {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
