@use "../abstracts/" as *;

.home {
  @include respond(tab-land) {
    // .header {
    //   margin-left: rem(64, $fs-m);
    //   margin-right: rem(64, $fs-m);
    // }
  }
  @include respond(tab-port) {
    // .header {
    //   margin-left: rem(40);
    //   margin-right: rem(40);
    // }
  }
  @include respond(phone) {
    .header {
      margin-left: rem(0);
      margin-right: rem(0);
      padding-left: rem(24, $fs-s);
      padding-right: rem(24, $fs-s);
    }
  }
}
